@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8gkz92');
  src:  url('fonts/icomoon.eot?8gkz92#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8gkz92') format('truetype'),
    url('fonts/icomoon.woff?8gkz92') format('woff'),
    url('fonts/icomoon.svg?8gkz92#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
  content: "\e919";
}
.icon-menu-grid:before {
  content: "\e91a";
  color: #135e41;
}
.icon-menu:before {
  content: "\e920";
  color: #4d4d4d;
}
.icon-checked:before {
  content: "\e918";
  color: #4d4d4d;
}
.icon-star:before {
  content: "\e915";
  color: #4d4d4d;
}
.icon-star-hover:before {
  content: "\e916";
}
.icon-contact-call:before {
  content: "\e912";
  color: #878e93;
}
.icon-contact-email:before {
  content: "\e913";
  color: #878e93;
}
.icon-contact-placeholder:before {
  content: "\e914";
  color: #878e93;
}
.icon-group:before {
  content: "\e911";
  color: #999;
}
.icon-heart-hover:before {
  content: "\e910";
  color: #4d4d4d;
}
.icon-award:before {
  content: "\e900";
  color: #878e93;
}
.icon-box:before {
  content: "\e901";
  color: #878e93;
}
.icon-down-arrow:before {
  content: "\e902";
  color: #999;
}
.icon-download:before {
  content: "\e903";
  color: #135e41;
}
.icon-facebook:before {
  content: "\e904";
  color: #4d4d4d;
}
.icon-feedback:before {
  content: "\e905";
  color: #4d4d4d;
}
.icon-heart:before {
  content: "\e906";
  color: #4d4d4d;
}
.icon-instagram:before {
  content: "\e907";
  color: #4d4d4d;
}
.icon-like:before {
  content: "\e908";
  color: #878e93;
}
.icon-magnifying-glass:before {
  content: "\e909";
  color: #4d4d4d;
}
.icon-phone-call:before {
  content: "\e90a";
  color: #4d4d4d;
}
.icon-placeholder:before {
  content: "\e90b";
  color: #4d4d4d;
}
.icon-price-tag:before {
  content: "\e90c";
  color: #878e93;
}
.icon-right-arrow:before {
  content: "\e90d";
  color: #878e93;
}
.icon-shopping-bag:before {
  content: "\e90e";
  color: #4d4d4d;
}
.icon-user:before {
  content: "\e90f";
  color: #4d4d4d;
}
.icon-path:before {
  content: "\e917";
}
