*:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
html{
  overflow-x: hidden;
}
body {
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 400;
  color: #666;
  font-size: 14px;
  line-height: 20px;
  background-color: #ffffff;
  padding-right:0px !important;
  min-width: 320px;
}

h1 {
  font-size: 36px;
  text-transform: uppercase;
  color: #1a1a1a;
  line-height: 1;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 60px;
  margin-top: 0;
  color: #1a1a1a;
  line-height: 1;
}
a:focus, a:hover {
  text-decoration: none;
}
.end_call-modal{
  text-align: center;
  color: #4d4d4d;
  font-size: 16px;
}
.btn-download {
  display: block;
  margin: auto;
  margin-bottom: 45px;
  width: 260px;
  height: 60px;
  background-color: #135e41;
  text-align: center;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .3s ease;
  line-height: 60px;
  &:hover,&:focus {
    background-color: #4d4d4d;
    color: #fff;
  }
  span {
    line-height: 60px;
  }
  i {
    margin-right: 10px;
    font-size: 15px;
    &:before {
      transition: color .3s ease;
      color: #fff;
    }
  }
}
.log_login{
  i:before{
    color: #135e41;
  }
  span{
    position: absolute;
  }
}
.btn-call_back{

  width: 54px;
  height: 54px;
  background-color: #ffffff;
  border: 4px solid rgba(135, 142, 147, 0.30);
  border-radius: 50%;
  font-size: 20px;
  position: fixed;
  bottom: 35px;
  right: 35px;
  i{
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: anim-span 2s 0s infinite;
    animation: anim-span 2s 0s infinite;
    left: 50%;
    top: 50%;
    position: absolute;
  }
  &:after{
    content: '';
    width: 66px;
    height: 66px;
    background-color: transparent;
    border: 2px solid rgba(135, 142, 147, 0.30);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    position: absolute;
    animation: anim 1s 0s infinite;
  }
}
@-webkit-keyframes anim {
  0% {
    width: 56px;
    height: 56px;
    opacity: 1;
  }
  100% {
    width: 76px;
    height: 76px;
    opacity: 0;
  }
}
@keyframes anim {
  0% {
    width: 56px;
    height: 56px;
    opacity: 1;
  }
  100% {
    width: 76px;
    height: 76px;
    opacity: 0;
  }
}
input{
  color: #4d4d4d!important;
}
input[type='submit']{
  color: #fff!important;
}
.form-control {
  height: 60px;
  border: solid 1px #e6e6e6;
  padding-left: 20px;
  background-color: #ffffff;
  font-size: 16px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #4d4d4d;
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 30px;
  &:focus {
    border: solid 1px #e6e6e6;
  }

}

.popup-purchase-button {
  display: none !important;
}
.category-page{
  .pagination{
    display: none;
  }
  .product-thumb{
    margin: 0 0 30px;
  }
}
.product-category-34{
  .product-thumb{
    margin: 0 15px 30px!important;
  }
}
.product-thumb {
  margin: 0 15px 30px;
  text-align: center;
  .image {
    background-color: #fff;
    max-height: 320px;
    position: relative;
    &:hover {
      .btn-product_wishlist, .btn-product_cart {
        opacity: 1;
      }
      .image_2{
        opacity: 1;
      }
    }
    &.new_product:after {
      content: 'New';
      position: absolute;
      left: 15px;
      top: 15px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #135e41;
      font-size: 16px;
      line-height: 42px;
      text-align: center;
      color: #ffffff;
    }
    &.sale_product:after {
      content: 'Sale';
      position: absolute;
      left: 15px;
      top: 15px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #135e41;
      font-size: 16px;
      line-height: 42px;
      text-align: center;
      color: #ffffff;
    }
  }
  h4 {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    margin-top: 19px;
    margin-bottom: 10px;
    line-height: 1.11;
    letter-spacing: 2px;
    text-transform: uppercase;
    a {
      text-decoration: none;
      color: #4d4d4d;
    }
  }
  p.price {
    font-size: 16px;
    line-height: 1;
    color: #135e41;
    .price-old {
      font-size: 14px;
      line-height: 1;
      color: #878e93;
    }
  }
  .btn-product_cart {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: #135e41;
    left: 0;
    text-transform: uppercase;
    border: 0;
    transition: all .3s ease;
    opacity: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    i {
      margin-right: 10px;
      font-size: 20px;
      &:before {
        color: #fff;
      }
    }
    &:hover {
      background-color: #4d4d4d;
    }
  }
  a.btn-product_wishlist {
    color: #4d4d4d;
    transition: color .3s ease;
    &:hover {
      color: #135e41;
    }
  }
  .btn-product_wishlist {
    position: absolute;
    top: 15px;
    right: 15px;
    border: 0;
    background-color: transparent;
    font-size: 21px;
    width: 21px;
    transition: opacity .3s ease;
    opacity: 0;
    height: 21px;
    padding: 0;
    i {
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity .3s ease;
      &.icon-path{
        font-size: 10px;
        right: 0;
        left: initial;
      }
      &.icon-heart-hover {
        opacity: 0;
      }
    }
    &:hover {
      .icon-heart {
        opacity: 0;
        &-hover {
          opacity: 1;
        }
      }
    }
  }
}

.top_bar {
  border-bottom: solid 1px #e6e6e6;
  margin-bottom: 12px;
  &-phone {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    li {
      display: inline-block;
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: #4d4d4d;
        font-size: 16px;
        line-height: 46px;
      }
    }
  }
  .main-menu {
    float: right;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    li {
      margin-right: 30px;
      display: inline-block;
      a {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        text-decoration: none;
        line-height: 46px;
        letter-spacing: normal;
        color: #878e93;
        transition: color .3s ease;
        &:hover {
          color: #135e41;
        }
      }
    }
  }
  .languages {
    position: relative;
    &:after {
      left: 0px;
      position: absolute;
      content: '';
      width: 1px;
      background-color: #e6e6e6;
      height: 26px;
      top: 50%;
      transform: translateY(-50%);
    }
    .dropdown-menu {
      border: solid 1px #e6e6e6;
      border-radius: 0;
      box-shadow: none;
      transform: translateY(-2px);
      font-size: 16px;
      min-width: 124px;
    }
  }
  .btn-languages {
    background-color: transparent;
    box-shadow: none !important;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 46px;
    width: 124px;
    text-align: right;
    color: #878e93;
    border: none;
    padding: 0;
    transition: color .3s ease;
    i {
      margin-left: 10px;
      font-size: 10px;
      color: #999999;
      &:before {
        transition: color .3s ease;
      }
    }
    &:hover {
      color: #4d4d4d;
      i:before {
        color: #4d4d4d;
      }
    }
  }
}

.bottom_bar {
  &-content {
    height: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &-copyright {
    width: 35%;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #878e93;
  }
  &-social {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    li {
      margin: 0 10px;
      i {
        font-size: 24px;
        position: relative;
        bottom: -2px;
        &:before{
          transition: color .3s ease;
        }
      }
      a:hover i:before{
        color: #135e41;
      }
    }
  }
  &-company {
    width: 35%;
    text-align: right;
    i {
      font-size: 21px;
    }
  }
}
@-webkit-keyframes anim-span {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    -webkit-transform: translate(-50%, -50%) rotate(12deg);
    transform: translate(-50%, -50%) rotate(12deg);
    -ms-transform: translate(-50%, -50%) rotate(12deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
  }
  75% {
    -webkit-transform: translate(-50%, -50%) rotate(12deg);
    transform: translate(-50%, -50%) rotate(21deg);
    -ms-transform: translate(-50%, -50%) rotate(21deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
  }
}
@keyframes anim-span {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    -webkit-transform: translate(-50%, -50%) rotate(12deg);
    transform: translate(-50%, -50%) rotate(12deg);
    -ms-transform: translate(-50%, -50%) rotate(12deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
  }
  75% {
    -webkit-transform: translate(-50%, -50%) rotate(12deg);
    transform: translate(-50%, -50%) rotate(21deg);
    -ms-transform: translate(-50%, -50%) rotate(21deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
  }
}
header{
  &.fixed{
    position: fixed;
    z-index: 10;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    width: 102%;
    top: 0;
    padding-top: 15px;
    -webkit-box-shadow: 0px 4px 5px -5px rgba(113, 113, 113, 0.55);
    box-shadow: 0px 4px 5px -5px rgba(113, 113, 113, 0.55);
    .header-logo{
      width: 108px;
      position: relative;
      p{
        display: none;
      }
      img{
        position: absolute;
        transform: translateY(-50%);
        left: 0;
        width: 80px;
      }
    }
    .header-catalog {
      height: 27px;
      ul{
        li{
          a{
            line-height: 27px;
            &:after{
              transform: translate(-50%, -2px);
            }
          }
        }
      }
    }
  }
  .container{
    position: relative;
  }
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  &-btn_menu{
    display: none;
  }
  &-btn_category{
    display: none;
    font-size: 25px;

  }
  &-logo {
    text-align: center;
    img {
      margin-bottom: 2px;
    }
    p {
      margin-bottom: 0;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 0.8px;
      color: #4d4d4d;
    }
    a {
      color: #4d4d4d;
    }
  }
  &-navigation {
    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      li {
        &#search-btn {
          position: relative;
          cursor: pointer;

          &.open:after {
            display: none;
          }
          &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
          }
          &:hover a i:before {
            color: #135e41;
          }
        }
        margin-left: 20px;
        &:first-child {
          margin-left: 0;
        }
        a {
          position: relative;
          text-align: center;
          display: block;
          margin-bottom: 0;
          cursor: pointer;
          text-decoration: none;
          i {
            font-size: 24px;
            &:before {
              transition: color .3s ease;
            }
          }
          &.log_login{
            span{
              background-color: #fff;
              color: #135e41;
              top: 92%;
              right: 50%;
              transform: translateX(50%);
              font-size: 14px;
              text-transform: uppercase;
            }
          }
          span {
            border-radius: 50%;
            position: absolute;
            right: -5px;
            top: 0;
            width: 15px;
            height: 15px;
            background-color: #135e41;
            color: #fff;
            font-size: 10px;
            font-weight: bold;
            line-height: 15px;
          }
          &:hover i:before {
            color: #135e41;
          }
        }
      }
    }
  }
  &-catalog {
    height: 70px;
    position: relative;
    &.open {
      .header-search {
        opacity: 1;
        width: 100%;
      }
    }
    ul {
      height: 100%;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      li {
        margin: 0 20px;
        height: 100%;
        &.dropdown:hover .dropdown-menu{
          display: block;
        }
        a {
          color: #4d4d4d;
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 70px;
          letter-spacing: normal;
          display: block;
          height: 100%;
          text-transform: uppercase;
          position: relative;
          &:hover:after {
            width: 100%;
          }
          &:after {
            content: '';
            width: 0;
            transition: width .3s ease;
            height: 2px;
            background-color: #135e41;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -9px);
          }
        }
        .dropdown-menu {
          min-width: auto;
          margin-top: 0;
          border-radius: 0;
          border: 0;
          left: -60px;
          box-shadow: none;
          padding-top: 14px;
          .dropdown-inner {
            border-top: solid 1px #e6e6e6;
          }
        }
        .list-unstyled {
          padding: 48px 0;
          height: auto;
          li {
            padding: 12px 60px;
            margin: 0;
            a {
              font-size: 16px;
              display: block;
              width: max-content;
              width: -moz-max-content;
              width: -webkit-max-content;
              width: -o-max-content;
              width: -ms-max-content;
              white-space: nowrap;
              text-transform: none;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.38;
              letter-spacing: normal;
              color: #878e93;
              transition: color .3s ease;
              &:after {
                display: none;
              }
            }
            &:hover{
              background-color: #f1f2f5;
              a{
                color: #4d4d4d;

              }
            }
          }
        }
      }
    }
  }
  &-search {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fff;
    margin-bottom: 0;
    transition: all .3s ease;
    input {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 36px;
      padding-left: 5px;
      border: 0;
      border-bottom: solid 1px #e6e6e6;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #878e93;
    }
  }
}

.footer {
  background-color: #f1f2f5;
  padding: 60px 0;
  &-navigation {
    &:after {
      content: '';
      height: 100%;
      width: 1px;
      position: absolute;
      background-color: #e6e6e6;
      top: 0;
      right: 0;
    }
    &:before {
      content: '';
      height: 100%;
      width: 1px;
      top: 0;
      position: absolute;
      background-color: #e6e6e6;
      left: 0;
    }
    p {
      text-align: center;
      margin-bottom: 0;
      a {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;
        transition: color .3s ease;
        color: #135e41;
        i {
          margin-right: 11px;
          font-size: 15px;
          &:before {
            transition: color .3s ease;
          }
        }
        &:hover {
          color: #4d4d4d;
          i:before {
            color: #4d4d4d;
          }
        }
      }
    }
  }
  &-info {
    &-btn{
      display: none;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #4d4d4d;
      position: relative;
      border-bottom: solid 1px #e6e6e6;
      padding: 14px 0;
      i{
        position: absolute;
        top: 50%;
        right: 0;
        font-size: 10px;
      }
    }
    ul {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
      li {
        padding-left: 35px;
        position: relative;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        margin-bottom: 15px;
        color: #4d4d4d;
        i {
          position: absolute;
          left: 0;
          top: 0;
          font-size: 20px;
        }
        a {
          color: #4d4d4d;
          display: block;
        }
        span {
          color: #878e93;
        }
      }
    }
  }
  &-menu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    &-btn{
      display: none;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #4d4d4d;
      position: relative;
      border-bottom: solid 1px #e6e6e6;
      padding: 14px 0;
      i{
        position: absolute;
        top: 50%;
        right: 0;
        font-size: 10px;
      }
    }
    li {
      margin: 0 15px 15px;
      a {
        font-size: 16px;

        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #878e93;
        transition: color .3s ease;
        &:hover {
          color: #4d4d4d;
        }
      }
    }
  }
  &-text {
    p {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: #4d4d4d;
      margin-bottom: 31px;
    }
    &-img {
      width: 83px;
      height: 64px;
      background-image: url(../image/bitmap.png);
    }
    &-name {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: right;
      color: #878e93;
      margin-bottom: 15px;
      span {
        font-size: 18px;
        color: #4d4d4d;
      }
    }
  }
}

.slideshow {
  position: relative;
  margin-bottom: 60px;
  overflow: hidden;
  &-prev {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 182px;
    z-index: 2;
    transform: translateY(-50%);
    cursor: pointer;
    i {
      font-size: 28px;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: rotate(180deg) translate(50%, 50%);
      &:before {
        color: #fff;
        transition: color .3s ease;
      }
    }
    &:hover i:before {
      color: #135e41;
    }
  }
  &-next {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 182px;
    cursor: pointer;
    i {
      font-size: 28px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      &:before {
        color: #fff;
        transition: color .3s ease;
      }
    }
    &:hover i:before {
      color: #135e41;
    }
  }
  .slick-slider {
    .slick-dots {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 30px;
      li {
        display: inline-block;
        margin: 0 7.5px;
        height: 8px;
        button {
          padding: 0;
          display: block;
          opacity: .5;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #fff;
          border: 0;
          font-size: 0;
          transition: opacity .3s ease;
          &:hover {
            opacity: .7;
          }
        }
        &.slick-active button {
          opacity: 1;
        }
      }
    }
    .slick-list {
      overflow: visible !important;
    }
    .slick-slide {
      &.slick-active .item:after {
        opacity: 0;
        z-index: -1;
      }
      .item {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #4D4D4D;
          opacity: 0.5;
          transition: opacity .3s ease;
          z-index: 2;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        p {
          font-size: 36px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
          text-transform: uppercase;
          position: absolute;
          top: 171px;
          left: 50%;
          transform: translateX(-50%);
        }
        a {
          display: block;
          width: 260px;
          height: 60px;
          background-color: #135e41;
          text-align: center;
          color: #fff;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-transform: uppercase;
          cursor: pointer;
          transition: all .3s ease;
          position: absolute;
          top: 267px;
          left: 50%;
          transform: translateX(-50%);
          &:focus {
            text-decoration: none;
          }
          &:hover {
            background-color: #ffffff;
            color: #4d4d4d;
            i:before {
              color: #4d4d4d;
            }
          }
          span {
            line-height: 60px;
          }
          i {
            margin-left: 15px;
            &:before {
              transition: color .3s ease;
              color: #fff;
            }
          }
        }
      }
    }
  }

}

.banner_category {
  margin-bottom: 21px;
  &.collection {
    .product-thumb .image:after {
      content: 'New';
      position: absolute;
      left: 15px;
      top: 15px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #135e41;
      font-size: 16px;
      line-height: 42px;
      text-align: center;
      color: #ffffff;
    }
    .slick-dots li {
      padding: 0;
    }
    .module_latest-slide {
      border: 0;
    }
    .collection-slider {
      h2 {
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #4d4d4d;
        position: relative;
        &:after {
          content: '';
          left: 50%;
          transform: translateX(-50%);
          bottom: -16px;
          width: 68px;
          height: 1px;
          position: absolute;
          background-color: #135e41;
        }
      }
    }
    .banner_category_collection {
      margin-bottom: 120px;
    }
    li {
      padding-bottom: 60px;
      border-bottom: solid 1px #e6e6e6;
      &:last-child{
        border-bottom: 0;
      }
    }
    .btn-collection {
      display: block;
      text-align: center;
      width: 260px;
      height: 60px;
      background-color: #135e41;
      line-height: 60px;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: #ffffff;
      transition: background-color .3s ease;
      margin: auto;
      text-transform: uppercase;
      i {
        margin-left: 15px;
        font-size: 15px;
        &:before {
          color: #fff;
        }
      }
      &:hover {
        background-color: #4d4d4d;
      }
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    li {
      padding-top: 68px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 60px;
      .banner_category_collection {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .banner_category-img {
        margin-left: 68px;
        position: relative;
        width: 487px;
        height: 300px;
        img {
          z-index: 1;
          position: absolute;
          width: 487px;
          height: 300px;
          transition: all .3s ease;
        }
        &:before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          left: -68px;
          top: -68px;
          background-color: #f1f2f5;
          z-index: -1;
          transition: all .3s ease;
        }
        &:hover {
          img {
            width: 518px;
            height: 319px;

          }
          &:before {
            width: 459px;
            height: 283px;

            left: -38px;
            top: -49px;
          }
        }
      }
      .banner_category-content {
        margin-right: 97px;
        max-width: 361px;
        width: 100%;
        p {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: normal;
          color: #878e93;
          margin-bottom: 31px;
        }
        a {
          width: 166px;
          height: 45px;
          border: solid 1px #135e41;
          display: block;
          line-height: 42px;
          color: #135e41;
          font-size: 14px;
          text-align: center;
          text-transform: uppercase;
          transition: all .3s ease;
          i {
            font-size: 17px;
            margin-left: 15px;
            position: relative;
            top: 3px;
            transition: color .3s ease;
            &:before {
              color: #135e41;
            }
          }
          &:hover {
            background-color: #135e41;
            color: #fff;
            i:before {
              color: #fff;
            }
          }
        }
      }
      .banner_category-name {
        font-size: 24px;
        line-height: 1;
        color: #4d4d4d;
        margin-bottom: 30px;
        position: relative;
        text-transform: uppercase;
        &:after {
          content: '';
          width: 68px;
          height: 1px;
          background-color: #135e41;
          position: absolute;
          left: 0;
          bottom: -16px;
        }
      }
      &:nth-child(2n) {
        .banner_category_collection {
          flex-direction: row-reverse;
        }
        flex-direction: row-reverse;
        .banner_category-img {
          margin-left: 0px;
        }
        .banner_category-content {
          margin-left: 97px;
          margin-right: 0;
        }
      }
    }
  }
}

.module_latest {
  background-color: #f1f2f5;
  padding-top: 60px;
  h2 {
    text-align: center;
    position: relative;
    color: #4d4d4d;
    &:after {
      content: '';
      left: 50%;
      transform: translateX(-50%);
      bottom: -16px;
      width: 68px;
      height: 1px;
      position: absolute;
      background-color: #135e41;
    }
  }
  &-slider {
    position: relative;

  }
  &-slide {
    border-bottom: solid 1px #e6e6e6;
    padding-bottom: 60px;
    .slick-list {
      margin: 0 -15px 30px;
    }
    .slick-dots {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      li {
        margin: 0 7.5px;
        width: 8px;
        height: 8px;
        border-bottom: 0;
        button {
          display: block;
          border: 0;
          border-radius: 50%;
          font-size: 0;
          width: 8px;
          height: 8px;
          opacity: 0.3;
          background-color: #878e93;
          padding: 0;
        }
        &.slick-active button {
          background-color: #135e41;
          opacity: 1;
        }
        &:hover {
          opacity: .5;
        }
      }
    }
  }
  &-prev {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 130px;
    left: -74px;
    z-index: 2;
    cursor: pointer;
    i {
      font-size: 28px;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: rotate(180deg) translate(50%, 50%);
      &:before {
        transition: color .3s ease;
      }
    }
    &:hover i:before {
      color: #135e41;
    }

  }
  &-next {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 130px;
    right: -74px;
    cursor: pointer;
    i {
      font-size: 28px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      &:before {
        transition: color .3s ease;
      }
    }
    &:hover i:before {
      color: #135e41;
    }
  }
  .product-thumb .image {
    position: relative;
    &:after {
      content: 'New';
      position: absolute;
      left: 15px;
      top: 15px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #135e41;
      font-size: 16px;
      line-height: 42px;
      text-align: center;
      color: #ffffff;
    }
  }
}

.module_special {
  background-color: #f1f2f5;
  padding-top: 60px;
  h2 {
    text-align: center;
    color: #4d4d4d;
    position: relative;
    &:after {
      content: '';
      left: 50%;
      transform: translateX(-50%);
      bottom: -16px;
      width: 68px;
      height: 1px;
      position: absolute;
      background-color: #135e41;
    }
  }
  &-slider {
    position: relative;

  }
  &-slide {
    padding-bottom: 60px;
    .slick-list {
      margin: 0 -15px 30px;
    }
    .slick-dots {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      li {
        margin: 0 7.5px;
        width: 8px;
        height: 8px;
        button {
          display: block;
          border: 0;
          border-radius: 50%;
          font-size: 0;
          width: 8px;
          height: 8px;
          opacity: 0.3;
          background-color: #878e93;
          padding: 0;
        }
        &.slick-active button {
          background-color: #135e41;
          opacity: 1;
        }
        &:hover {
          opacity: .5;
        }
      }
    }
  }
  &-prev {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 130px;
    left: -74px;
    z-index: 2;
    cursor: pointer;
    i {
      font-size: 28px;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: rotate(180deg) translate(50%, 50%);
      &:before {
        transition: color .3s ease;
      }
    }
    &:hover i:before {
      color: #135e41;
    }

  }
  &-next {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 130px;
    right: -74px;
    cursor: pointer;
    i {
      font-size: 28px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      &:before {
        transition: color .3s ease;
      }
    }
    &:hover i:before {
      color: #135e41;
    }
  }
  .product-thumb .image {
    position: relative;
    &:after {
      content: 'Sale';
      position: absolute;
      left: 15px;
      top: 15px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #135e41;
      font-size: 16px;
      line-height: 42px;
      text-align: center;
      color: #ffffff;
    }
  }
}

.merits {
  border-top: solid 1px #e6e6e6;
  padding: 57px 0 76px;
  text-align: center;
  &-slider{
    &.slick-slider{
      display: none;
    }
    .slick-dots {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      li {
        margin: 0 7.5px;
        width: 8px;
        height: 8px;
        &.slick-active button {
          background-color: #135e41;
          opacity: 1;
        }
        button {
          display: block;
          border: 0;
          border-radius: 50%;
          font-size: 0;
          width: 8px;
          height: 8px;
          opacity: 0.3;
          background-color: #878e93;
          padding: 0;
        }
      }
    }
  }
  i {
    font-size: 60px;
    margin-bottom: 15px;
    display: block;
  }
  p {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0;
    position: relative;
    &:after {
      content: '';
      bottom: -16px;
      position: absolute;
      width: 15px;
      height: 1px;
      background-color: #135e41;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.banner_collection {
  margin-top: 30px;
  margin-bottom: 60px;
  &-slider{
    &.slick-slider{
      display: none;
    }
    margin-top: 30px;
    margin-bottom: 60px;
    &-block{
      a{
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        overflow: hidden;
        img{
          max-width: 100%;
          max-height: 500px;
          -moz-transition: all 1s ease-out;
          -o-transition: all 1s ease-out;
          -webkit-transition: all 1s ease-out;
        }
      }
    }
    .slick-list{
      margin-bottom: 30px;
    }
    .slick-dots {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      li {
        margin: 0 7.5px;
        width: 8px;
        height: 8px;
        &.slick-active button {
          background-color: #135e41;
          opacity: 1;
        }
        button {
          display: block;
          border: 0;
          border-radius: 50%;
          font-size: 0;
          width: 8px;
          height: 8px;
          opacity: 0.3;
          background-color: #878e93;
          padding: 0;
        }
      }
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    li {
      width: 50%;
      padding-right: 15px;
      &:nth-child(2n) {
        padding-left: 15px;
        padding-right: 0;
      }
      a {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        overflow: hidden;
        img {
          max-width: 100%;
          max-height: 500px;
          -moz-transition: all 1s ease-out;
          -o-transition: all 1s ease-out;
          -webkit-transition: all 1s ease-out;
        }
        &:hover img {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
        }
      }
    }
  }
  &-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(77, 77, 77, 0.5);
  }
  &-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-23px);
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    width: 100%;
  }
  &-name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,8px);
    text-transform: uppercase;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    width: 100%;
  }
}
.pagination{
  margin-bottom: 60px;
  li{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    &:first-child{
      a{
        transform: rotate(180deg);
      }
    }
    &.active{
      span{
        color: #135e41;
        background-color: transparent;
        border: 0;
        padding: 0px 15px;
        &:hover{
          background-color: transparent;
          border: 0;
          color: #135e41;
        }
      }
    }
    a{
      color: #878e93;
      background-color: transparent;
      border: 0;
      transition: color .3s ease;
      padding: 0px 15px;
      i:before{
        font-size: 17px;
        transition: color .3s ease;
      }
      &:hover,&:focus{
        background-color: transparent;
        border: 0;
        color: #135e41;
        i:before{
          color: #135e41;
        }
      }
    }
  }
}
.news-ncategory{
  .pagination{
    padding-top: 30px;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 30px );
      height: 1px;
      background-color:  #e6e6e6;
    }

  }
  .bnews {
    .artblock{
      margin-bottom: 30px;
    }
  }
}
.common-home .bnews {
  padding-bottom: 60px;
}
.bnews {
  //padding-bottom: 60px;
  h2 {
    position: relative;
    text-align: center;
    color: #4d4d4d;
    &:after {
      content: '';
      left: 50%;
      transform: translateX(-50%);
      bottom: -16px;
      width: 68px;
      height: 1px;
      position: absolute;
      background-color: #135e41;
    }
  }
  &-btn {
    width: 260px;
    height: 60px;
    background-color: #135e41;
    line-height: 60px;
    margin: auto;
    display: block;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    transition: background-color .3s ease;
    i {
      font-size: 20px;
      margin-left: 15px;
      bottom: -3px;
      position: relative;
      &:before {
        color: #fff;
      }
    }
    &:hover, &:focus {
      color: #fff;
      background-color: #4d4d4d;
      text-decoration: none;
    }
  }
  &-new {
    width: 100%;
    max-width: 555px;
  }
  &-list {
    width: 100%;
    max-width: 458px;
  }
  &-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .artblock {
    margin-bottom: 60px;
    &-img {
      margin-bottom: 15px;
      a {
        display: block;
        width: 100%;
        overflow: hidden;
        img {
          -moz-transition: all 1s ease-out;
          -o-transition: all 1s ease-out;
          -webkit-transition: all 1s ease-out;
          max-width: 100%;
        }
      }
      &:hover a img {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
      }
    }
    &-name {
      font-size: 20px;
      font-weight: normal;
      height: 40px;
      overflow: hidden;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      margin-bottom: 15px;
      a {
        text-decoration: none;
        color: #4d4d4d;
      }
    }
    &-date {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #065644;
      padding-left: 31px;
      position: relative;
      margin-bottom: 10px;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 15px;
        height: 1px;
        background-color: #135e41;
        transform: translateY(-50%);
      }
    }
    &-description {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: #878e93;
      max-height: 60px;
      overflow: hidden;
    }
    .description {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: #878e93;
      height: 60px;
      overflow: hidden;
    }
  }
}

.newsletter-form {
  margin-bottom: 30px;
  .form-group {
    position: relative;
    input {
      width: 100%;
      //width: 360px;
      height: 50px;
      border: solid 1px #e6e6e6;
      background-color: #ffffff;
      border-radius: 0;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #878e93;
      padding-right: 60px;
      padding-left: 20px;
      box-shadow: none;
    }
    button {
      position: absolute;
      right: 0;
      top: 0;
      width: 60px;
      height: 50px;
      border: 0px;
      border-radius: 0;
      background-color: transparent;
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        &:before {
          color: #878e93;
          transition: color .3s ease;
        }
      }
      &:hover i:before {
        color: #135e41;
      }
    }
  }
  p {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 5px;
  }
}

.mega_banner_top {
  width: 100%;
  max-height: 400px;
  position: relative;
  margin-bottom: 60px;
  min-height: 100px;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333333;
    opacity: 0.7;
    transition: opacity .3s ease;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h1 {
    position: absolute;
    padding: 0 15px;
    margin: 0;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    z-index: 2;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    min-height: 100px;
  }
}

.mega_banner_testimonial {
  width: 100%;
  height: 400px;
  position: relative;
  margin-bottom: 60px;
  background-image: url(../image/img-12ss88.png);
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333333;
    opacity: 0.7;
    transition: opacity .3s ease;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h1 {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    z-index: 2;
  }
}

.mega_banner_404 {
  width: 100%;
  height: 600px;
  position: relative;
  background-image: url(../image/img-not_found.png);
  h1 {
    position: absolute;
    margin: 0;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 150px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    z-index: 2;
    height: 160px;
  }
  p {
    position: absolute;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-align: center;
    top: 315px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-transform: uppercase;
  }
  a {
    position: absolute;
    bottom: 141px;
    width: 260px;
    height: 60px;
    background-color: #135e41;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center;
    z-index: 2;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    left: 50%;
    transform: translateX(-50%);
    i {
      margin-left: 15px;
      font-size: 20px;
      &:before {
        transition: color .3s ease;
      }
    }
    &:hover {
      background-color: #ffffff;
      color: #4d4d4d;
      //box-shadow: 0 0 0 15px #f6f4f4;
      i:before {
        color: #4d4d4d;
      }
    }
  }
}

/* breadcrumb */
.breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f1f2f5;
  margin-bottom: 0;
  padding: 0;
  li {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    margin: 15px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: -15px;
      transform: translateY(-50%);
      width: 1px;
      height: 14px;
      opacity: 0.5;
      background-color: #4d4d4d;
    }
    &:before {
      display: none;
    }
    a span {
      color: #4d4d4d;
    }
    span {
      color: #878e93;
    }
    &:first-child i {
      display: none;
    }
    &:last-child:after {
      display: none;
    }
  }
}
.product-page .selectricItems ul li:first-child{
  display: none!important;
}
.block-sorting {
  display: flex;
  margin-bottom: 30px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 18px;
  border-bottom: solid 1px #e6e6e6;
  &-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    label.control-label {
      margin-bottom: 0;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.13;
      letter-spacing: normal;
      color: #878e93;
      margin-left: 40px;
    }
  }
}

.mfilter-box {
  h2 {
    margin-top: 6px;
    color: #4d4d4d;
    padding-bottom: 29px;
    margin-bottom: 30px;
    border-bottom: solid 1px #e6e6e6;
    i{
      position: absolute;
      right: 10px;
      display: none;
      top: 0;
    }
  }
}

.catalog_category {
  h2 {
    margin-top: 6px;
    color: #4d4d4d;
    padding-bottom: 29px;
    position: relative;
    margin-bottom: 30px;
    border-bottom: solid 1px #e6e6e6;
    i{
      position: absolute;
      right: 10px;
      display: none;
      top: 0;
    }
  }
  &-list {
    margin-bottom: 60px;
    list-style: none;
    padding-left: 0;
    > li {
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
      > a {
        color: #4d4d4d;
        display: block;
      }
      > i {
        font-size: 10px;
        position: absolute;
        top: 0;
        right: 0;
        height: 18px;
        width: 18px;
        cursor: pointer;
        &.active:before {
          transform: translateY(-50%) rotate(180deg);
        }
        &:before {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%) rotate(0deg);
          transition: all .3s ease;
        }
      }
    }
    &-lvl {
      padding-top: 25px;
      list-style: none;
      padding-left: 0;
      display: none;
      height: 0;
      transition: all .3s ease;
      &.active {
        display: block;
        height: auto;
      }
      > li {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 24px;
        letter-spacing: normal;
        text-transform: none;
        a {
          color: #878e93;
          &.active {
            color: #135e41;
          }
        }
      }
    }
  }
}

.catalog_collection {
  margin-bottom: 44px;
  h2 {
    margin-top: 6px;
    color: #4d4d4d;
    padding-bottom: 29px;
    margin-bottom: 30px;
    border-bottom: solid 1px #e6e6e6;
  }
  &-list {
    list-style: none;
    padding-left: 0;
    > li {
      > a {
        margin-top: 6px;
        line-height: 26px;
        display: block;
        color: #4d4d4d;
        padding-bottom: 29px;
        margin-bottom: 25px;
        border-bottom: solid 1px #e6e6e6;
        text-transform: uppercase;
        font-size: 24px;
        display: block;
      }
    }
    &-lvl {
      list-style: none;
      padding-left: 0;
      > li {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 24px;
        letter-spacing: normal;
        text-transform: none;
        a {
          color: #878e93;
          &.active {
            color: #135e41;
          }
        }
      }
    }
  }
}

.products {
  margin-bottom: 30px;
}
.sort_category{
  .selectricWrapper{
    width: 270px;
    .selectricItems li{
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 20px;
      letter-spacing: normal;
      color: #4d4d4d;
    }
  }
}
.ias_trigger {
  margin-bottom: 60px;
  a {
    height: 60px;
    background-color: #f1f2f5;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #4d4d4d;
    width: 100%;
    display: block;
    text-decoration: none;
    transition: all .3s ease;
    &:hover {
      background-color: #135e41;
      color: #fff;
    }
  }
}

.contact_form {
  background-color: #f1f2f5;
  padding: 60px;
  margin-bottom: 60px;
  legend {
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 60px;
    position: relative;
    border-bottom: 0;
    text-transform: uppercase;
    &:after {
      content: '';
      background-color: #135e41;
      height: 1px;
      width: 68px;
      position: absolute;
      bottom: -16px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 -15px;
  }
  .buttons{
    margin:0;
  }
  &-input {
    margin: 0 15px;
    width: 100%;
    margin-bottom: 30px;
    .text-danger{
      position: absolute;
      margin-top: 5px;
    }
    input {
      width: 100%;
      height: 60px;
      border: solid 1px #e6e6e6;
      padding-left: 20px;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #878e93;
    }
  }
  &-textarea {
    width: 100%;
    margin-bottom: 60px;
    textarea {
      width: 100%;
      height: 140px;
      border: solid 1px #e6e6e6;
      padding-left: 20px;
      padding-top: 20px;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #878e93;
      resize: none;
    }
  }
  .buttons {
    input {
      text-align: center;
      width: 260px;
      max-width: 100%;
      height: 60px;
      background-color: #135e41;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 1px;
      color: #ffffff;
      text-transform: uppercase;
      transition: background-color .3s ease;
      border: 0;
      margin: auto;
      display: block;
      &:hover {
        background-color: #4d4d4d;
      }
    }
  }
}

.contact_info {
  margin-bottom: 60px;
  &-block {
    width: 100%;
    height: 160px;
    &:after {
      content: '';
      height: 100%;
      background-color: #e6e6e6;
      width: 1px;
      position: absolute;
      right: -15px;
      top: 0;
    }
    text-align: center;
    i {
      font-size: 60px;
      margin-bottom: 15px;
      display: block;
    }
    p {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: #878e93;
      margin-bottom: 10px;
    }
  }
  &-text {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #4d4d4d;
    //max-width: 256px;
    max-width: 270px;
    margin: auto;
    a {
      color: #4d4d4d;
      text-decoration: none;
    }
    ul {
      list-style: none;
      padding-left: 0;
    }
  }
  .col-sm-4:last-child .contact_info-block:after {
    display: none;
  }
}
.information-contact-success{
  h1{
    margin-top: 60px;
  }
}
.page_product {
  margin-top: 60px;
  .product {
    &-img {
      position: relative;
      max-width: 555px;
      margin: auto;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      &-main {
        position: relative;
        width: 100%;
        img {
          max-width: 100%;
          max-height: 100%;
        }
        .special {
          position: absolute;
          top: 15px;
          right: 15px;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          background-color: #135e41;
          text-align: center;
          line-height: 44px;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          color: #ffffff;
        }
        .new_tov {
          position: absolute;
          top: 15px;
          right: 75px;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          background-color: #135e41;
          text-align: center;
          line-height: 44px;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          color: #ffffff;
        }
      }
      &-list {
        display: flex;
        flex-direction: column;
        margin-right: 15px;
        width: 85px;
        min-width: 85px;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        li {
          margin-bottom: 15px;
          width: 66px;
          height: 80px;
          border: 1px solid transparent;
          transition: all .3s ease;
          img {
            max-width: 100%;
            max-height: 100%;
          }
          &:last-child {
            margin-bottom: 0;
          }
          &:hover {
            border: 1px solid #e6e6e6;
          }
        }
      }
    }
    &-sku {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #878e93;
      margin-bottom: 15px;
    }
    &-model{
      margin-bottom: 30px;
    }
    &-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 26px;
      border-bottom: solid 1px #e6e6e6;
      margin-bottom: 30px;
      &-rating {
        flex-direction: row;
        justify-content: flex-end;
        display: flex;
        align-items: center;
        height: 15px;
        p {
          margin-bottom: 0;
          display: flex;
          height: 15px;
          flex-direction: row;
          i {
            margin-right: 10px;
          }
        }
        a {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          color: #878e93;
          span {
            color: #135e41;
          }
        }
        &-text {
          display: none;
        }
      }
      &-price {
        flex-direction: row;
        justify-content: flex-end;
        display: flex;
        align-items: flex-end;
        h2 {
          font-size: 24px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: right;
          color: #135e41;
          margin: 0;
        }
        span {
          margin-right: 15px;
          font-size: 20px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: right;
          color: #878e93;
          text-decoration: line-through;
        }
      }
    }
    &-description {
      margin-bottom: 30px;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: #878e93;
    }
    &-navigation {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      .product-dimensions {
        width: 100%;
        max-width: 416px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .selectricWrapper {
        margin-left: 0;
        width: 50%;
        height: 60px;
        position: relative;
        .selectricItems ul li{
          font-size: 16px;
        }
        .text-danger {
          position: absolute;
          bottom: -22px;
          left: 20px;
        }
        .selectric {
          border-radius: 0;
          .label {
            padding: 21px 20px;
          }
          .button {
            height: 60px;
          }
        }
      }
      &-btn {
        width: 50%;
        display: block;
        height: 60px;
        border: solid 1px #e6e6e6;
        background-color: #f1f2f5;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 58px;
        letter-spacing: normal;
        text-align: center;
        color: #878e93;
      }
      &-recurrings {
        width: 110px;
        position: relative;
        input {
          text-align: center;
          width: 100%;
          height: 60px;
          border: solid 1px #e6e6e6;
          background-color: #ffffff;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          color: #4d4d4d;
        }
        span {
          height: 100%;
          position: absolute;
          top: 0;
          width: 32px;
          cursor: pointer;
          &.minus {
            left: 0;
            i {
              transform: rotate(90deg) translate(-50%, 50%);
              position: absolute;
              left: 50%;
              top: 50%;
            }
          }
          &.plus {
            right: 0;
            i {
              transform: rotate(-90deg) translate(50%, -50%);
              position: absolute;
              left: 50%;
              top: 50%;
            }
          }
        }
      }
      &-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 -15px;
        button {
          width: 50%;
          height: 60px;
          margin: 0 15px;
          border: 0;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 56px;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-align: center;
          color: #ffffff;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          transition: background-color .3s ease;
          i {
            margin-right: 10px;
            display: block;
            font-size: 20px;
            &:before {
              color: #fff;
            }
          }
          span {
            display: block;
          }
          &.btn_wishlist {
            background-color: #4d4d4d;
            &:hover {
              background-color: #135e41;
            }
          }
          &.btn_cart {
            background-color: #135e41;
            &:hover {
              background-color: #4d4d4d;
            }
          }
        }

      }
    }
    &-reviews {
      margin-top: 120px;
      h2 {
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #4d4d4d;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          bottom: -16px;
          height: 1px;
          background-color: #135e41;
          width: 68px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &-list {
        margin-bottom: 60px;
        ul {
          padding-left: 0;
          margin-bottom: 0;
          list-style: none;
          li {
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: solid 1px #e6e6e6;
            &:last-child {
              padding-bottom: 0;
              margin-bottom: 0;
              border-bottom: 0;
            }
            .reviews {
              &-top {
                margin-bottom: 16px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;

              }
              &-text {
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.43;
                letter-spacing: normal;
                color: #878e93;
              }
              &-name {
                display: block;
                font-size: 20px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                letter-spacing: normal;
                color: #4d4d4d;
                span {
                  font-size: 14px;
                  margin-left: 30px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1;
                  letter-spacing: normal;
                  color: #065644;
                }
              }
              &-rating {
                height: 15px;
                display: flex;
                i {
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
      &-form {
        padding: 60px;
        background-color: #f1f2f5;
        margin-bottom: 120px;
        .form-inputs {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          margin: 0 -15px;
        }
        .form-input {
          margin: 0 15px;
          width: 100%;
          margin-bottom: 30px;
          input {
            width: 100%;
            height: 60px;
            border: solid 1px #e6e6e6;
            padding-left: 20px;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #878e93;
          }
        }
        .form-rating {
          margin: 0 15px;
          width: 100%;
          margin-bottom: 30px;
          background-color: #fff;
          border: solid 1px #e6e6e6;
          height: 60px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 0 20px;
          p {
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #878e93;
            margin-bottom: 0;
          }
          &-star {
            width: 100%;
            text-align: left;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            input {
              opacity: 0 !important;
              z-index: -100 !important;
              position: absolute;
              display: none;

            }
            input:checked ~ label:before {
              content: "\e916";
              color: #135e41;
            }
            label.icon-star-grey:hover:before {
              content: "\e916";
              color: #135e41;
            }
            label:hover ~ label:before {
              content: "\e916";
              color: #135e41;
            }
            label.icon-star-grey {
              font-size: 14px;
              text-align: center;
              color: #999999;
              position: relative;
              margin: 0px;
              padding-top: 0px;
              cursor: pointer;
              margin-left: 10px;
              font-family: 'icomoon' !important;
              cursor: pointer;
              &:before {
                content: "\e915";
                color: #4d4d4d;
              }
            }
          }
        }
        .form-textarea {
          width: 100%;
          margin-bottom: 60px;
          position: relative;
          .alert {
            position: absolute;
            bottom: -40px;
            left: 20px;
            color: red;
            margin-bottom: 0;
          }
          textarea {
            width: 100%;
            height: 140px;
            border: solid 1px #e6e6e6;
            padding-left: 20px;
            padding-top: 20px;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #878e93;
            resize: none;
          }
        }
        .buttons {
          button {
            width: 260px;
            height: 60px;
            background-color: #135e41;
            display: block;
            margin: auto;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: 1px;
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
            border: 0;
            transition: background-color .3s ease;
            &:hover {
              background-color: #4d4d4d;
            }
          }
        }
      }
    }
  }
  h1 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #4d4d4d;
  }
}

.testimonial {
  &-list {
    margin-bottom: 60px;
    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      li {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: solid 1px #e6e6e6;
        //&:last-child {
        //  padding-bottom: 0;
        //  margin-bottom: 0;
        //  border-bottom: 0;
        //}
        .reviews {
          &-top {
            margin-bottom: 16px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;

          }
          &-text {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: normal;
            color: #878e93;
          }
          &-name {
            display: block;
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #4d4d4d;
            span {
              font-size: 14px;
              margin-left: 30px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1;
              letter-spacing: normal;
              color: #065644;
            }
          }
          &-rating {
            height: 15px;
            display: flex;
            i {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
  &-form {
    padding: 60px;
    background-color: #f1f2f5;
    margin-bottom: 60px;
    h2 {
      font-size: 24px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: #4d4d4d;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: -16px;
        height: 1px;
        background-color: #135e41;
        width: 68px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .form-inputs {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0 -15px;
    }
    .form-input {
      margin: 0 15px;
      width: 100%;
      margin-bottom: 30px;
      input {
        width: 100%;
        height: 60px;
        border: solid 1px #e6e6e6;
        padding-left: 20px;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #878e93;
      }
    }
    .form-rating {
      margin: 0 15px;
      width: 100%;
      margin-bottom: 30px;
      background-color: #fff;
      border: solid 1px #e6e6e6;
      height: 60px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      p {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #878e93;
        margin-bottom: 0;
      }
      &-star {
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        input {
          opacity: 0 !important;
          z-index: -100 !important;
          position: absolute;
          display: none;

        }
        input:checked ~ label:before {
          content: "\e916";
          color: #135e41;
        }
        label.icon-star-grey:hover:before {
          content: "\e916";
          color: #135e41;
        }
        label:hover ~ label:before {
          content: "\e916";
          color: #135e41;
        }
        label.icon-star-grey {
          font-size: 14px;
          text-align: center;
          color: #999999;
          position: relative;
          margin: 0px;
          padding-top: 0px;
          cursor: pointer;
          margin-left: 10px;
          font-family: 'icomoon' !important;
          cursor: pointer;
          &:before {
            content: "\e915";
            color: #4d4d4d;
          }
        }
      }
    }
    .form-textarea {
      width: 100%;
      margin-bottom: 60px;
      position: relative;
      .alert {
        position: absolute;
        bottom: -40px;
        left: 20px;
        color: red;
        margin-bottom: 0;
      }
      textarea {
        width: 100%;
        height: 140px;
        border: solid 1px #e6e6e6;
        padding-left: 20px;
        padding-top: 20px;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #878e93;
        resize: none;
      }
    }
    .buttons {
      button {
        width: 260px;
        height: 60px;
        background-color: #135e41;
        max-width: 100%;
        display: block;
        margin: auto;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 1px;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        border: 0;
        transition: background-color .3s ease;
        &:hover {
          background-color: #4d4d4d;
        }
      }
    }
  }
}

.st_facebook {
  .stButton {
    font-style: normal !important;
    font-family: 'icomoon' !important;
    position: relative !important;
    .facebook {
      padding-left: 0 !important;
      padding-right: 34px !important;
      background-image: none !important;
    }
    span {
      font-family: 'Didact Gothic', sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #065644;
    }
    &:after {
      font-size: 24px;
      content: "\e904";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #065644;
      right: 0;
    }
  }
}
.news-article{
  .article-content{
    ol{
      padding-left: 20px;
    }
    ul{
      padding-left: 20px;
      list-style-type: none;
      li{
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #878e93;
        position: relative;
        &:after{
          content: '' ;
          position: absolute;
          left: -18px;
          width: 5px;
          height: 5px;
          background-color: #135e41;
          top: 11px;
          border-radius: 50%;
        }
      }
    }
    p{
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #878e93;
    }
    a{
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #878e93;
    }
    h1{
      font-size: 36px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #1a1a1a;
    }
    h2{
      font-size: 24px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #1a1a1a;
    }
  }
}
.article {
  &-content {
    margin-bottom: 60px;
    font-size: 16px;
    color: #878e93;
    p, a, li {
      font-size: 16px;
      color: #878e93;
    }
    h2 {
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #4d4d4d;
      margin-bottom: 0px !important;
      margin-top: 0;
      text-transform: none;
    }
    img {
      margin: 60px 0;
    }
  }
  &-meta {
    &-data {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #065644;
      padding-left: 31px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        width: 15px;
        height: 1px;
        background-color: #135e41;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }
  }
  &-share{
    .st_facebook:hover .stButton{
      .chicklets{
        opacity: 1!important;
        color: #4d4d4d!important;
      }
      &:after{
        color: #4d4d4d!important;
      }
    }
    &-text{
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #4d4d4d;
      margin-right: 20px;
    }
  }
}

.information-information #content {

  .merits {
    border-top: 0;
    padding-top: 0;
  }
  .block-ser {
    margin-bottom: 60px;
    text-align: center;
    padding: 60px 15px;
    background-color: #f1f2f5;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #4d4d4d;
  }
  .block-h2 {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #4d4d4d;
  }
  .block-text {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #878e93;
    margin-bottom: 60px;
  }
  .block-img {
    width: 100%;
    height: 380px;
    background-image: url(../image/about-page.png);
    margin-bottom: 60px;
    background-repeat: no-repeat;
    background-position: center;
  }
  ul {
    color: #135e41;
    margin-top: -7px;
    margin-bottom: 60px;
    padding-left: 20px;
    li {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 30px;
      letter-spacing: normal;
      span {
        font-size: 16px;
        color: #878e93;
      }
    }
  }
}
.mar-60{
  margin: 60px 0;
}
.checkout-success,.account-login-approve,.account-success{
  #content{
    h1{
      margin: 60px 0;
    }
    br{
      display: none;
    }
    p{
      a{
        color: #135e41;
      }
    }
  }
}
.checkout-simplecheckout {
  .breadcrumb {
    margin-bottom: 60px;
  }
  h1 {
    display: none;
  }
  .simplecheckout-left-column .simplecheckout-title{
    margin-bottom: 30px;
  }
  .panel-heading{
    padding: 0;
  }
  .simplecheckout-title {
    background-color: #f1f2f5;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #4d4d4d;
    padding: 30px 0;
    text-transform: uppercase;
    border-bottom: solid 1px #e6e6e6;
  }
  .simplecheckout-block-content {
    .radio {
      input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        margin: 10px 0 0 7px;
      }
      input + label {
        position: relative;
        padding: 0 0 0 35px;
        cursor: pointer;
        font-family: 'icomoon' !important;
        span {
          font-family: 'Didact Gothic', sans-serif;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.13;
          letter-spacing: normal;
          color: #878e93;
        }
      }
      input + label:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        width: 20px;
        height: 20px;
        border: solid 1px #e6e6e6;
        background-color: #ffffff;
      }
      input + label:after {
        position: absolute;
        top: 1px;
        left: 4px;
        content: "\e918";
        color: #4d4d4d;
        opacity: 0;
        transition: .3s;
        font-size: 10px;
      }
      input:checked + label:after {
        opacity: 1;
      }
    }
    .selectricItems li {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #4d4d4d;
      padding: 20px 0 20px 20px;
    }
  }
  .checkout {
    &-list {
      display: flex;
      flex-direction: column;
      border: solid 1px #e6e6e6;
      border-top: 0;
      &s{
        max-height: 1021px;
        overflow: hidden;
        position: relative;
      }
    }
    &-block {
      display: flex;
      flex-direction: row;
      border-bottom: solid 1px #e6e6e6;
      min-height: 142px;
      &:last-child {
        border: 0;
      }
      &-img {
        min-width: 140px;
        height: 140px;
        position: relative;
        a {
          width: 100%;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          img {
            max-width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

      }
      &-content {
        width: 100%;
        padding: 15px 15px 15px 0;

      }
      &-name {
        padding-right: 25px;
        position: relative;
        margin-bottom: 10px;
        a {
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.11;
          letter-spacing: 2px;
          color: #4d4d4d;
          text-transform: uppercase;
        }
        i {
          position: absolute;
          font-size: 10px;
          top: -1px;
          right: 0;
          cursor: pointer;
        }
      }
      &-info {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style: none;
        padding-left: 0;
        margin-bottom: 30px;
        li {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          color: #4d4d4d;
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          }
          span {
            color: #878e93;
          }
        }
      }
      &-price {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        span {
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          color: #135e41;
          max-width: 133.9px;
          width: 100%;
          &.price-total {
            text-align: right;
          }
        }
      }
      &-quantity {
        max-width: 110px;
        width: 100%;
        position: relative;
        height: 40px;

        input {
          width: 100%;
          padding: 0;
          height: 40px;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          color: #4d4d4d;
          text-align: center;
          margin-bottom: 0;
        }
        .minus {
          left: 0;
          top: 0;
          position: absolute;
          height: 40px;
          width: 35px;
          background-color: transparent;
          border: 0;
          i {
            transform: rotate(90deg) translate(-50%, 50%);
            position: absolute;
            left: 50%;
            top: 50%;
          }
        }
        .plus {
          top: 0;
          position: absolute;
          height: 40px;
          width: 35px;
          background-color: transparent;
          border: 0;
          right: 0;
          i {
            transform: rotate(-90deg) translate(50%, -50%);
            position: absolute;
            left: 50%;
            top: 50%;
          }
        }
      }
    }
    &-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

    }
  }
  .total_sub_total {
    display: none;
  }
  .total_total {
    height: 76px;
    background-color: #f1f2f5;
    border: 0 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin-bottom: 60px;
    span {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #878e93;
      &:last-child {
        color: #135e41;
        margin-bottom: 0;
      }
    }
  }
  .simplecheckout-right-column .simplecheckout-block {
    border: 0;
  }
}

.btn-default {
  line-height: 60px;
}

.btn-default-x {
  max-width: 260px;
  width: 100%;
  height: 60px;
  background: #4d4d4d;
  text-align: center;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .3s ease;
  line-height: 60px;
  text-shadow: none;
  border: 0px;
  border-radius: 0px;
  box-shadow: none;
  &:hover {
    background-color: #135e41;
  }
}

.simple-content {
  margin-bottom: 60px;
}

.checkout-simplecheckout .simplecheckout-button-block {
  display: none!important;
}

.popups_block {
  font-family: 'Didact Gothic', sans-serif;
  position: absolute;
  z-index: 100;
  right: 15px;
  top: 102%;
  background-color: #135e41;
  padding: 15px;
  width: 250px;
  color: #fff;
  a {
    color: #fff;
    font-weight: bold;
  }
  button.close {
    font-size: 12px;
  }
}
.checkout-simplecheckout .simplecheckout-rule-group{
  top: 60px;
  position: absolute;
  max-width: 100%;
}
.account-wishlist {
  .product-thumb{
    margin: 0 0 30px;
  }
  .buttons{
    margin-bottom: 60px;
  }
  .alert {
    display: none;
  }
}

.product-search {
  h2 {
    margin-top: 60px;
    position: relative;
    text-align: center;
    &:after {
      content: '';
      left: 50%;
      transform: translateX(-50%);
      bottom: -16px;
      width: 68px;
      height: 1px;
      position: absolute;
      background-color: #135e41;
    }
  }
  .button-search {
    position: absolute;
    top: 0;
    right: 15px;
    height: 60px;
    width: 60px;
    border: 0;
    background-color: transparent;
    &:before{
      font-size: 20px;

    }
  }
}
.margin_bottom_60{
  margin-bottom: 60px;
}
.bslider_category{
  &.slick-slider{
    display: none;
  }
  .slick-dots {
    margin: 15px 0 45px;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    li {
      margin: 0 7.5px;
      width: 8px;
      height: 8px;
      button {
        display: block;
        border: 0;
        border-radius: 50%;
        font-size: 0;
        width: 8px;
        height: 8px;
        opacity: 0.3;
        background-color: #878e93;
        padding: 0;
      }
      &.slick-active button {
        background-color: #135e41;
        opacity: 1;
      }
      &:hover {
        opacity: .5;
      }
    }
  }
  &-img{
    margin: 0 auto 30px;
    width: 100%;
    max-width: 487px;
    padding-left: 15px;
    padding-top: 15px;
    img{
      max-width: 100%;
      z-index: 2;
    }
    &ll{
      position: relative;
      &:before{
        z-index: -1;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: -15px;
        left: -15px;
        background-color: #f1f2f5;
      }
    }
  }
  &-name{
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 30px;
    position: relative;
    &:after{
      content: '';
      width: 68px;
      height: 1px;
      background-color: #135e41;
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  a{
    width: 166px;
    height: 45px;
    border: solid 1px #135e41;
    display: block;
    line-height: 42px;
    color: #135e41;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease;
    margin: auto;
    i {
      font-size: 17px;
      margin-left: 15px;
      transition: color .3s ease;
      &:before {
        color: #135e41;
        position: relative;
        top: 2px;
      }
    }
    &:hover {
      background-color: #135e41;
      color: #fff;
    }
  }
  p{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #878e93;
    margin: 0 auto 30px;
    width: 100%;
    max-width: 487px;
  }
}

.left_bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1111;
  transform: translateX(-100%);
  transition: all .3s ease;
  overflow-y: scroll;
  height: 100%;
  #language{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    border-top: solid 1px #e6e6e6;
    padding-bottom: 45px;
  }
  .languages {
    position: relative;
    .dropdown-menu {
      border: 0;
      border-radius: 0;
      box-shadow: none;
      font-size: 16px;
      min-width: 124px;
      top: 10px;
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      li{
        a{
          padding: 3px 10px;
          position: relative;
          &.active{
            &:after{
              content: '';
              position: absolute;
              bottom: -5px;
              width: 15px;
              height: 2px;
              background-color: #135e41;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
    }
  }
  .btn-languages {
display: none!important;
  }
  &.open{
    transform: translateX(0);
  }
  &-header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;
    border-bottom: solid 1px #e6e6e6;
    margin-bottom: 15px;
  }
  &-logo{
    a{
      color: #4d4d4d;
    }
  }
  &-close{
    position: absolute;
    left:0;
    top: 36px;
    i:before{
      color: #4d4d4d;
      font-size: 20px;
    }
  }
  &-content{
    margin-bottom: 35px;
    ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 0;
      list-style: none;
      li{
        text-align: center;
        text-transform: uppercase;
        margin-top: 30px;
        a{
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: center;
          color: #4d4d4d;
        }
      }
    }
  }
}
.right_bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1111;
  transform: translateX(100%);
  transition: all .3s ease;
  &.open{
    transform: translateX(0);
    overflow-y: scroll;
    height: 100%;
  }
  &-header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;
    border-bottom: solid 1px #e6e6e6;
    margin-bottom: 15px;
  }
  &-logo{
    a{
      color: #4d4d4d;
    }
  }
  &-close{
    position: absolute;
    right:0;
    top: 36px;
    i:before{
      color: #135e41;
      font-size: 20px;
    }
  }
  &-content{
    ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 0;
      list-style: none;
      li{
        text-align: center;
        text-transform: uppercase;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        a{
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: center;
          color: #4d4d4d;
        }

        i{
          position: relative;
          margin-top: 5px;
          height: 14px;
          width: 100%;
          &:before{
            position: absolute;
            transform: translateX(-50%) rotate(0deg);
            left: 50% ;
          }
          &.active:before{
            transform: translateX(-50%) rotate(180deg);
          }
        }
      }
    }
    .right_bar-pmenu{
      display: none;
      li{
        margin-top: 15px;
        a{
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: center;
          color: #878e93;
          text-transform: none;
        }
      }
    }
  }
}
.account-forgotten{
  h1{
    margin: 60px 0;
    color: #1a1a1a;
  }
}
#modal-login #input-password{
  margin-bottom: 0 ;
}
.title_slider-pro{
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #4d4d4d;
  position: relative;
  &:after{
    position: absolute;
    transform: translateX(-50%);
    content: '';
    left: 50%;
    bottom: -16px;
    width: 68px;
    height: 1px;
    background-color: #135e41;
  }
}
.product-page,.testimonial-testimonial{
  .icon-star-hover{
    color: #135e41;
  }
}
.account-account,.account-simpleedit,.account-password,.account-order,.account-logout {
  h1{
    margin: 60px 0;
  }
}
.marg_60_0{
  margin: 60px 0;
}
.marg_b_30{
  margin-bottom: 30px;
}
.request_call-form{
  .form-group{
    position: relative;
    label.error{
      position: absolute;
      bottom: -27px;
      color: #a94442;
    }
  }
}
.l_mobal{
  display: none;
}
.product-special #content{
  padding-bottom: 60px;
}