@media (max-width: 1650px) {
  .slideshow-next {
    right: 3%;
  }
  .slideshow-prev {
    left: 3%;
  }
}

@media (max-width: 1440px) {
  .slideshow-next {
    right: 15px;
  }
  .slideshow-prev {
    left: 15px;
  }
}

@media (max-width: 1300px) {
  .slideshow-next, .slideshow-prev {
    display: none;
  }
  .module_special-slider, .module_latest-slider {
    width: 865px;
    margin: auto;
  }
}

@media (max-width: 1199px) {
  .simplecheckout-step{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .simplecheckout-left-column{
      max-width: 430px;
    }
    .simplecheckout-right-column{
      margin-left: 30px;
    }
  }
  .news-ncategory{
    .bnews-new{
      width: 100%;
    }
  }
  .banner_category ul li .banner_category-img:before {
    top: -50px;
    left: -50px;
  }
  .banner_category ul li .banner_category-img img, .banner_category ul li .banner_category-img {
    margin-left: 0;
    width: 385px;
    height: 255px;
  }
  .banner_category ul li .banner_category-img:hover img {
    width: 416px;
    height: 274px;
  }
  .banner_category ul li .banner_category-img:hover:before {
    width: 356px;
    height: 238px;
    left: -30px;
    top: -30px;
  }
  .bnews-new {
    padding-right: 15px;
    width: 50%;
    max-width: 100%;
  }
  .bnews-list {
    width: 50%;
    padding-left: 15px;
    max-width: 100%;
  }
  .top_bar .btn-languages, .top_bar .main-menu li a, .top_bar-phone li a {
    font-size: 14px;
  }
  .checkout-simplecheckout .checkout-buttons{
    .btn-default-x,.btn-default{
      max-width: 210px;
    }
  }
}

@media (max-width: 1024px) {
  .mega_banner_testimonial{
    height: 300px;
    background-size: cover;
    background-position: center;
    h1{
      width: 100%;
    }
  }
  .module_latest-next,.module_special-next{
    right: -63px;
  }
  .module_latest-prev,.module_special-prev{
    left: -63px;
  }
}

@media (max-width: 991px) {
  .l_mobal{
    display: block;
  }
  .l_desctop{
    display: none;
  }
  .page_product {
    .product-img-list{
      flex-wrap: wrap;
      width: auto;
      flex-direction: row;
      margin-right: 0;
    }
    .product-img{
      flex-direction: column;
      &-main{
        //margin-bottom: 15px;
      }
    }
  }
  header.fixed{
    padding: 15px 0;
    #menu ul{
      display: none;
    }
    #menu{
      position: absolute;
      order: 1;
      width: 225px;
      border-top: none;
      height: 47px;
      bottom: 10px;
      background: #fff;
      right: 175px;
      z-index: 11;
      top: -14px;
    }
    .header-logo{
      display: none;
    }
  }

  .header-navigation ul li a.log_login span{
    display: none;
  }
  .page_product .product-navigation-buttons button{
    margin: 0;
  }
  .page_product .product-navigation-buttons{
    margin: 0;
  }
  .slideshow .container{
    width: 100%;
    padding: 0;
  }
  .banner_category.collection .banner_category_collection {
    margin-bottom: 60px;
  }
  .checkout-simplecheckout .checkout-buttons .btn-default-x, .checkout-simplecheckout .checkout-buttons .btn-default {
    max-width: 260px;
  }
  .simplecheckout-step .simplecheckout-left-column{
    padding: 0 20px 30px;
  }
  .simplecheckout-step{
    display: flex;
    flex-direction: column;
    .simplecheckout-left-column{
      max-width: 430px;
    }
    .simplecheckout-right-column{
      margin-top: 60px;
      margin-left: 0px;

    }
  }
  .testimonial-form .form-inputs,.contact_form-inputs{
    flex-direction: column;
    margin: 0;
  }
  .banner_collection{
    display: none;
    &-slider{
      &.slick-slider{
        display: block;
      }
    }
  }
  .module_latest-prev,.module_special-prev,.module_latest-next,.module_special-next{
    display: none;
  }
  .module_special-slider, .module_latest-slider {
    width: 100%;
    margin: auto;
  }
  .top_bar{
    display: none;
  }
  #menu{
    order: 1;
    width: 100%;
    border-top: solid 1px #e6e6e6;
    height: 47px;
    &.header-catalog ul li {
      a{
        line-height: 46px;
      }
      .dropdown-menu{
        padding-top: 0;
      }
      .list-unstyled {
        padding: 15px;
        li{
          a{
            line-height: 1.38;
          }
        }
      }
    }
  }
  .header{
    flex-wrap: wrap;
    margin-bottom: 0;
    &-logo{
      margin: 15px 0;
      width: 33%;
      img{
        margin: 0 auto 2px;
      }
    }
    &-navigation{
      width: 33%;
    }
    &-btn_menu{
      display: block;
      width: 33%;
      i{
        font-size: 24px;
      }
    }
  }
  .slideshow .slick-slider .slick-slide .item {
    a{
      top: 186px;
    }
    p{
      top: 106px;
    }
  }
  .banner_category{
    ul{
      li{
        .banner_category-content{
          margin-right: 0;
          max-width: 344px;
        }
        &:nth-child(2n) {
          .banner_category-content{
            margin-left: 0;
          }
          .banner_category-img {
            &:before {
              top: -32px;
              left: -32px;
            }
            img{
              margin-left: 0;
            }
          }
        }
        .banner_category-img{
          width: 312px;
          height: 192px;
          img{
            width: 312px;
            height: 192px;
            margin-left: 32px;
          }
          &:before {
            top: -32px;
            left: 0px;
          }
          &:hover {
            &:before{
              width: 100%;
              height: 100%;
              top: -32px;
              left: 0px;
            }
            img {
              width: 312px;
              height: 192px;
            }
          }
        }
      }
    }
  }
  .bnews-list {
    display: none!important;
  }
  .bnews-new{
    width:470px;
    margin: auto;
    padding-right: 0;
  }
  .product-thumb .btn-product_wishlist,.product-thumb .btn-product_cart{
    opacity: 1;
  }
  .footer-navigation p a {
    font-size: 13px;
  }
  .footer-menu li {
    margin: 0 10px 20px;
    a {
      font-size: 14px;
    }
  }
  .page_product .product-reviews-form .form-inputs{
    flex-direction: column;
    margin: 0;
  }
}

@media (max-width: 767px){
  .page_product .product-navigation-buttons button{
    margin: 0 15px;
  }
  .page_product .product-navigation-buttons{
    margin: 0 -15px;
  }
  .bottom_bar-copyright{
    width: 100%;
    text-align: center;
  }
  .bottom_bar-social{
    width: 100%;
  }
  .bottom_bar-company{
    width: 100%;
    text-align: center;
  }
  .product-category-34{
    .mega_banner_top{
      margin-bottom: 0;
    }
    .container{
      width: 100%;
    }
  }
  .banner_category.collection{
    .banner_category{
      &_collection{
        margin-bottom: 60px;
        flex-direction: column;
      }
      &-img{
        max-width: 487px;
        width: 100%;
        padding: 15px 0 0 15px ;
        height: auto;
        margin: 0 auto 30px;
        &:before{
          top: 0px;
          width: calc(100% - 15px);
          height: calc(100% - 15px);
          left: 0;
        }
        img{
          position: relative;
          margin-left: 0;
          width: 100%;
          height: auto;
        }
      }
    }
    ul{
      li{
        &:nth-child(2n){
          .banner_category{
            &_collection{
              flex-direction: column;
            }
            &-img{
              max-width: 487px;
              width: 100%;
              padding: 15px 0 0 15px ;
              height: auto;
              margin: 0 auto 30px;
              &:before{
                top: 0px;
                width: calc(100% - 15px);
                height: calc(100% - 15px);
                left: 0;
              }
              img{
                position: relative;
                margin-left: 0;
                width: 100%;
                height: auto;
              }
            }
          }
        }
        .banner_category-content{
          max-width: 487px;
          margin: auto;
          text-align: center;
          p{
            margin-bottom: 0;
          }
        }
        .banner_category-name{
          &:after{
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
  .catalog_category{
    h2{
      padding-bottom: 10px;
      &.open i{
        transform: rotate(180deg);
      }
      i{
        transition: all .3s ease;
        display: block;
      }
    }
    &-list{
      display: none;
    }
  }
  .mfilter-box{
    h2{
      position: relative;
      padding-bottom: 10px;
      &.open i{
        transform: rotate(180deg);
      }
      i{
        transition: all .3s ease;
        display: block;
      }
    }
    .mfilter-content{
      display: none;
    }
  }

  .contact_info-block:after{
    display: none;
  }
  .contact_info-block{
    margin-bottom: 40px;
  }
  .contact_info{
    margin-bottom: 20px;
  }
  .news-ncategory{
    .bnews-new{
      width: 100%;
      max-width: 555px;
    }
  }
  .mega_banner_testimonial {
    height: 200px;
  }
  .header-catalog ul li a{
    font-size: 14px;
  }
  .slideshow .container{
    padding-left: 0;
    padding-right: 0;
  }
  .product-category-34 .banner_category{
    display: block;
  }
  .banner_category{
    display: none;
  }
  .bslider_category{
    &.slick-slider{
      display: block;
      padding: 0 15px;
    }
  }
  .newsletter-form{
    margin-top: 30px;
  }
  .footer{
    &-info{
      &-btn{
        display: block;
      }
      ul{
        display: none;
        margin: 14px 0;
      }
    }
    &-menu{
      display: none;
      margin-top: 14px;
      &-btn{
        display: block;
      }
    }
  }
  .bottom_bar-content{
    flex-direction: column;
    padding: 30px 0;
    height: auto;
    .bottom_bar-social{
      order: 2;
    }
    .bottom_bar-copyright{
      margin-bottom: 15px;
    }
    .bottom_bar-company{
      margin-bottom: 30px;
    }
  }
  .header-btn_menu i {
    font-size: 20px;
  }
  .slideshow .slick-slider .slick-slide .item img{
    max-width: none;
    max-height: 423px;
  }
  .slideshow .slick-slider .slick-slide .item a {
    top: 228px;
    width: 220px;
    height: 50px;
    span{
      line-height: 50px;

    }
  }
  .slideshow .slick-slider .slick-slide .item p{
    width: 100%;
    padding: 0 15px;
    font-size: 24px;
    top: 144px;
  }
}

@media (max-width: 550px){
  header.fixed{
    padding: 0;
    .header-btn_menu,.header-btn_category{
      display: none;
    }
    .header-navigation{
      border: 0;
    }
  }
  .breadcrumb{
    display: none;
  }
  .page_product .product-navigation{
    padding-top: 60px;
    position: relative;
    .selectricWrapper{
      width: 100%;
    }
    &-btn{
      position: absolute;
      top: 0px;
      width: 100%;
    }
  }
  .page_product .product-reviews {
    margin-top: 60px;
  }
  .testimonial-list ul li .reviews-name span,.page_product .product-reviews-list ul li .reviews-name span{
    display: block;
    margin-left: 0;
    margin-top: 15px;
  }
  .page_product .product-reviews-form .form-textarea .alert {
    top: 97%;
    bottom: initial;
    left: 0px;
    width: 100%;
  }
  .checkout-simplecheckout{
    .checkout-block-name {
        padding-right: 0;
      text-align: center;
      i {
        top: -140px;
      }
    }
    .checkout-block-info {
      justify-content: center;
    }
    .checkout-block{
      flex-direction: column;
    }
    .checkout-block-content{
      padding: 15px;
    }
  }

  .mega_banner_top h1{
    font-size: 20px;
  }
  .checkout-simplecheckout {
    .checkout-buttons {
      flex-direction: column-reverse;
      .checkout-order{
        margin-bottom: 15px;
      }
    }
  }
  .modal-dialog{
    margin: 0;
  }
  .product-search,.product-special,.account-wishlist{
    .product-layout.col-xs-6{
      width: 100%;
    }
  }
  .page_product .product-info {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .page_product .product-info-price{
    margin-bottom: 15px;
  }
  .page_product .product-reviews-form{
    margin-bottom: 60px;
    padding: 30px 20px ;
    .buttons button{
      max-width: 100%;
    }
  }
  .page_product .product-img-list{
    //display: none;
  }
  .category-page{
    .product-layout.col-xs-6{
      width: 100%;
    }
    .selectric {
      .label {
        padding: 12px 10px!important;
        margin: 0 20px 0 0!important;
      }
      .button {
        width: 20px!important;
      }
    }
  }

  .testimonial-form,.contact_form{
    padding: 30px 20px;
  }
  .information-information #content .merits .row{
    display: block;
    .col-xs-3{
      width: 50%;
      margin-bottom: 40px;
    }
  }
  .header-logo img {
    width: 93px;
  }
  .header-logo p {
    margin-bottom: 0;
    font-size: 10px;
  }
  .banner_collection-title{
    font-size: 14px;
  }
  .banner_collection-name{
    font-size: 30px;
  }
  .header{
    position: relative;
  }
  header.fixed #menu{
    top: inherit;
  }
  #menu{
    position: absolute;

    order: 1;
    width: 225px;
    border-top: none;
    height: 47px;
    bottom: 10px;
    background: #fff;
    left: 50%;
    transform: translatex(-80px);
    z-index: 11;
  }
  .header-catalog{

    &.open{
      display: block;
    }
    ul{
      display: none;
    }
    display: none;
  }
  .header-btn_category{
    display: block;
    text-align: right;
    width: 33%;
  }
  .merits {
    padding: 45px 0;
    .row {
      display: none;
    }
  }
  .header-navigation{
    width: 100%;
    border-top: solid 1px #e6e6e6;
    padding: 15px 0;
    ul{
      justify-content: center;
      li{
        margin:  0 20px;
      }
    }
  }
  .merits-slider{
    &.slick-slider{
      display: block;
    }
    p {
      margin-bottom: 60px;
      height: 36px;
    }
  }
}

@media (max-width: 425px){
  .block-sorting{
    justify-content: center;
  }
  .block-sorting-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    label.control-label{
      margin-bottom: 15px;
      margin-left: 0;
    }
    .selectricWrapper{
      margin-left: 0 ;
    }
  }
  .checkout-simplecheckout .checkout-block-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span{
      text-align: center!important;
    }
    span.price-main{
      margin-bottom: 15px;
    }
    span.price-total{
      margin-top: 15px;
    }
  }
  .information-information #content .merits .row .col-xs-3{
      width: 100%;
  }
  .page_product .product-navigation-buttons{
    flex-direction: column;
    margin: 0;
    button{
      margin-bottom: 20px;
      width: 100%;
    }
  }
}