@charset "UTF-8";
/* line 2, ../sass/sergo.scss */
.btn-default {
  width: 260px;
  height: 60px;
  background: #135e41;
  text-align: center;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .3s ease;
  line-height: 42px;
  text-shadow: none;
  border: 0px;
  border-radius: 0px;
  box-shadow: none;
  padding: 0px;
}
/* line 21, ../sass/sergo.scss */
.btn-default:hover:hover, .btn-default:hover:active, .btn-default:hover:focus, .btn-default:active:hover, .btn-default:active:active, .btn-default:active:focus, .btn-default:focus:hover, .btn-default:focus:active, .btn-default:focus:focus {
  background-color: #4d4d4d;
  color: white;
}

/* line 30, ../sass/sergo.scss */
.modal {
  text-align: center;
  padding: 0 !important;
}

/* line 35, ../sass/sergo.scss */
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

/* line 43, ../sass/sergo.scss */
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* line 48, ../sass/sergo.scss */
.modal-content {
  border-radius: 0px;
  border: 0px;
}

/* line 53, ../sass/sergo.scss */
.modal-header {
  position: relative;
  padding: 35px 25px 15px 25px;
  border: 0px;
}
/* line 57, ../sass/sergo.scss */
.modal-header .close {
  margin: 0px;
  opacity: 1;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 15px;
  top: 15px;
  font-weight: normal;
}
/* line 66, ../sass/sergo.scss */
.modal-header .close:hover {
  color: #135e41;
}
/* line 69, ../sass/sergo.scss */
.modal-header .close:after {
  content: '\e917';
  font-family: icomoon;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}

/* line 80, ../sass/sergo.scss */
.modal-title {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}

/* line 85, ../sass/sergo.scss */
.modal-body {
  padding: 10px 25px 25px 25px;
}

/* line 90, ../sass/sergo.scss */
.quick-login a {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-decoration: none;
  /*line-height: 46px;*/
  letter-spacing: normal;
  color: #878e93;
}
/* line 99, ../sass/sergo.scss */
.quick-login a:hover {
  color: #135e41;
}
/* line 103, ../sass/sergo.scss */
.quick-login .alert {
  border-radius: 0px;
  margin: 0px 0px 15px 0px;
}

/* line 109, ../sass/sergo.scss */
.well {
  border-radius: 0px;
}
/* line 111, ../sass/sergo.scss */
.well a {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-decoration: none;
  line-height: 46px;
  letter-spacing: normal;
  color: #878e93;
}
/* line 120, ../sass/sergo.scss */
.well a:hover {
  color: #135e41;
}
/* line 124, ../sass/sergo.scss */
.well .alert {
  border-radius: 0px;
}

/* line 129, ../sass/sergo.scss */
.account_left_bar {
  list-style: none;
  margin: 0px 0px 30px 0px;
  padding: 0px;
  border: 1px solid #f5f5f5;
  width: 100%;
}
/* line 136, ../sass/sergo.scss */
.account_left_bar li:not(:last-child) {
  border-bottom: 1px solid #f5f5f5;
}
/* line 140, ../sass/sergo.scss */
.account_left_bar a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 18px 15px 19px 10px;
  color: #4d4d4d;
  transition: 0.2s ease all;
}
/* line 148, ../sass/sergo.scss */
.account_left_bar a:hover {
  padding: 18px 5px 19px 20px;
  color: #135e41;
}

/* line 157, ../sass/sergo.scss */
.account-simpleedit .simpleregister .form-control {
  margin-bottom: 10px;
}
/* line 161, ../sass/sergo.scss */
.account-simpleedit h1 {
  text-align: center;
}

/* line 167, ../sass/sergo.scss */
.account-password .form-horizontal .form-control {
  margin-bottom: 10px;
}

/* line 172, ../sass/sergo.scss */
.alert {
  border-radius: 0px;
}

/* line 178, ../sass/sergo.scss */
.order_histor_list {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
/* line 182, ../sass/sergo.scss */
.order_histor_list .order_histor_item {
  display: table-row;
}
/* line 185, ../sass/sergo.scss */
.order_histor_list .history_block {
  display: table-cell;
  padding: 15px;
  border: 1px solid #e6e6e6;
}
/* line 189, ../sass/sergo.scss */
.order_histor_list .history_block:nth-child(1) {
  width: 60%;
}
/* line 192, ../sass/sergo.scss */
.order_histor_list .history_block:nth-child(2) {
  width: 20%;
  vertical-align: middle;
  text-align: center;
}
/* line 197, ../sass/sergo.scss */
.order_histor_list .history_block:nth-child(3) {
  width: 20%;
  vertical-align: middle;
  text-align: center;
}
/* line 203, ../sass/sergo.scss */
.order_histor_list .wrapp_img {
  margin-right: 15px;
  float: left;
}
/* line 208, ../sass/sergo.scss */
.order_histor_list .name {
  margin-bottom: 10px;
}
/* line 210, ../sass/sergo.scss */
.order_histor_list .name a {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
/* line 214, ../sass/sergo.scss */
.order_histor_list .name a:hover {
  color: #999999;
}
/* line 219, ../sass/sergo.scss */
.order_histor_list .article {
  font-size: 12px;
  color: #999999;
  margin-bottom: 10px;
}
/* line 224, ../sass/sergo.scss */
.order_histor_list .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 233, ../sass/sergo.scss */
.order_histor_list .options .option_item {
  margin-right: 20px;
  font-size: 14px;
  color: #000000;
  margin-bottom: 8px;
}
/* line 240, ../sass/sergo.scss */
.order_histor_list .price {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #000000;
}
/* line 246, ../sass/sergo.scss */
.order_histor_list .text_status {
  font-size: 12px;
  text-align: center;
  color: #000000;
}
/* line 251, ../sass/sergo.scss */
.order_histor_list .status {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #000000;
  margin: 15px 0px;
  text-transform: uppercase;
}
/* line 259, ../sass/sergo.scss */
.order_histor_list .date {
  font-size: 14px;
  text-align: center;
  color: #b3b3b3;
}
/* line 265, ../sass/sergo.scss */
.order_histor_list .inside a {
  font-size: 16px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
/* line 270, ../sass/sergo.scss */
.order_histor_list .inside a:hover {
  text-decoration: none;
  color: #135e41;
}

/* line 278, ../sass/sergo.scss */
.order_wrapp {
  background-color: white;
}
/* line 280, ../sass/sergo.scss */
.order_wrapp .top_panel {
  background: #f5f6f7;
  border: solid 1px #e6e6e6;
  margin-bottom: -1px;
  padding: 13px 15px 11px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 0;
}
/* line 295, ../sass/sergo.scss */
.order_wrapp .top_panel .status {
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}
/* line 299, ../sass/sergo.scss */
.order_wrapp .top_panel .status span {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
/* line 305, ../sass/sergo.scss */
.order_wrapp .top_panel .date {
  font-size: 14px;
  color: #b3b3b3;
}
/* line 311, ../sass/sergo.scss */
.order_wrapp .products .pr_item {
  overflow: hidden;
  border: solid 1px #e6e6e6;
  margin-bottom: -1px;
  padding: 15px 15px 20px 15px;
}
/* line 317, ../sass/sergo.scss */
.order_wrapp .products .wrapp_img {
  margin-right: 15px;
  float: left;
}
/* line 322, ../sass/sergo.scss */
.order_wrapp .products .name {
  margin-bottom: 10px;
}
/* line 324, ../sass/sergo.scss */
.order_wrapp .products .name a {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
/* line 328, ../sass/sergo.scss */
.order_wrapp .products .name a:hover {
  color: #135e41;
}
/* line 333, ../sass/sergo.scss */
.order_wrapp .products .article {
  font-size: 12px;
  color: #999999;
  margin-bottom: 10px;
}
/* line 338, ../sass/sergo.scss */
.order_wrapp .products .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 347, ../sass/sergo.scss */
.order_wrapp .products .options .option_item {
  margin-right: 20px;
  font-size: 14px;
  color: #000000;
  margin-bottom: 8px;
}
/* line 354, ../sass/sergo.scss */
.order_wrapp .products .price {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* line 371, ../sass/sergo.scss */
.order_wrapp .total .total_item {
  border: solid 1px #e6e6e6;
  margin-bottom: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0px;
}
/* line 384, ../sass/sergo.scss */
.order_wrapp .total .total_item:nth-child(1) {
  display: none;
}
/* line 388, ../sass/sergo.scss */
.order_wrapp .total .total_item:nth-child(3) .title {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #000000;
}
/* line 396, ../sass/sergo.scss */
.order_wrapp .total .title {
  font-size: 14px;
  text-align: left;
  color: #000000;
  padding: 0px 15px;
}
/* line 402, ../sass/sergo.scss */
.order_wrapp .total .text {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #000000;
  padding: 0px 15px;
}
/* line 410, ../sass/sergo.scss */
.order_wrapp .customer_info {
  border: solid 1px #e6e6e6;
  padding: 5px 0px;
}
/* line 413, ../sass/sergo.scss */
.order_wrapp .customer_info .customer_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
}
/* line 422, ../sass/sergo.scss */
.order_wrapp .customer_info .text1 {
  width: 200px;
  font-size: 14px;
  color: #b3b3b3;
}
/* line 427, ../sass/sergo.scss */
.order_wrapp .customer_info .text2 {
  width: calc(100% - 200px);
  font-size: 14px;
  color: #000000!important;
}

/* line 435, ../sass/sergo.scss */
.account-simpleregister h1 {
  text-align: center;
  margin: 60px 0;
  color: #4d4d4d;
}
#simpleregister_button_confirm{
  margin-top: 25px!important;
  margin-bottom: 60px!important;
}
/* line 439, ../sass/sergo.scss */
.account-simpleregister .simpleregister-block-content {
  padding: 0px;
}
/* line 441, ../sass/sergo.scss */
.account-simpleregister .simpleregister-block-content .form-control {
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  /* line 453, ../sass/sergo.scss */
  .order_histor_list {
    display: block;
    margin-bottom: 60px;
  }
  /* line 455, ../sass/sergo.scss */
  .order_histor_list .order_histor_item {
    display: flex;
    flex-wrap: wrap;
  }
  /* line 459, ../sass/sergo.scss */
  .order_histor_list .history_block {
    display: block;
    margin-bottom: -1px;
  }
  /* line 462, ../sass/sergo.scss */
  .order_histor_list .history_block:nth-child(1) {
    width: 100%;
    margin-bottom: -1px;
  }
  /* line 466, ../sass/sergo.scss */
  .order_histor_list .history_block:nth-child(2) {
    width: 50%;
  }
  /* line 469, ../sass/sergo.scss */
  .order_histor_list .history_block:nth-child(3) {
    width: 50%;
  }
  /* line 471, ../sass/sergo.scss */
  .order_histor_list .history_block:nth-child(3):before {
    /* для IE8+ */
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
  }
  /* line 478, ../sass/sergo.scss */
  .order_histor_list .history_block:nth-child(3) .inside {
    display: inline-block;
    vertical-align: middle;
  }

  /* line 488, ../sass/sergo.scss */
  .order_wrapp .products .price {
    clear: left;
    padding-top: 10px;
    font-size: 15px;
    overflow: hidden;
  }
  /* line 496, ../sass/sergo.scss */
  .order_wrapp .total .text {
    font-size: 15px;
    white-space: nowrap;
  }
  /* line 502, ../sass/sergo.scss */
  .order_wrapp .customer_info .customer_item {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 10px;
  }
  /* line 508, ../sass/sergo.scss */
  .order_wrapp .customer_info .text1 {
    width: auto;
  }
  /* line 511, ../sass/sergo.scss */
  .order_wrapp .customer_info .text2 {
    width: auto;
  }
}
/* line 518, ../sass/sergo.scss */
.social_text {
  text-align: center;
  margin-bottom: 15px;
  font-size: 16px;
  color: #878e93;
}

/* line 524, ../sass/sergo.scss */
.social_login_wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
/* line 529, ../sass/sergo.scss */
.social_login_wrapp .social_login_btn {
  margin: 0px 10px;
  color: #135e41;
  background-color: transparent;
  border-bottom-right-radius: 0px;
  border: 0px;
  padding: 0px;
  font-size: 28px;
}
.social_login_wrapp .social_login_btn span:before{
  color: #135e41;
  transition: color .3s ease;
}
.social_login_wrapp .social_login_btn:hover span:before{
  color: #4d4d4d;
}
.social_login_wrapp .social_login_btn .icon-google-plus{
  font-size: 38px;

}
/* line 537, ../sass/sergo.scss */
.social_login_wrapp .social_login_btn:hover {
  color: #666;
}
