/*======================================================================
  Selectric
======================================================================*/

.selectricWrapper {
  position: relative;
  min-width: 100px;
  margin-left: 20px;
  cursor: pointer;
}

.selectricResponsive {
  width: 100%;
}

.selectric {
  border: 1px solid #e6e6e6;
  background: #fff;
  position: relative;
  border-radius: 2px;
  .label {
    display: block;
    border-radius: 0!important;
    text-align: left;
    padding: 12px 20px;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 40px 0 0;
    min-height: 18px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #4d4d4d;
  }
  .button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    color: #BBB;
    text-align: center;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 0;
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      content: "\e902";
      color: #999;
      font-size: 10px;
    }
  }
}

.selectricHover .selectric {
  border-color: #CCC;
  .button {
    color: #888;
    &:after {
      border-top-color: #888;
    }
  }
}

.selectricOpen {
  z-index: 9999;
  .selectric {
    z-index: 9999;
  }
  .selectricItems {
    display: block;
  }
}

.selectricDisabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-touch-callout: none;
  user-select: none;
}

.selectricHideSelect {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
  select {
    position: absolute;
    left: -100%;
    display: none;
  }
}

.selectricInput {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectricTempShow {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

/* Items box */
.selectricItems {
  display: none;
  position: absolute;
  overflow: auto;
  top: 100%;
  left: 0;
  background: #fff;
  border: solid 1px #e6e6e6;
  border-top: 0;
  z-index: 9998;
  box-shadow: 0 0 10px -6px;
  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    min-height: 20px;
  }
  li {
    display: block;
    padding: 5px 0 5px 20px;
    font-size: 16px;

    color: #666;
    cursor: pointer;
    &.selected {
      background: #EFEFEF;
      color: #444;
      border-top-color: #E0E0E0;
    }
    &:hover {
      background: #F0F0F0;
      color: #444;
    }
    &.disabled {
      background: #F5F5F5;
      color: #BBB;
      border-top-color: #FAFAFA;
      cursor: default;
    }
  }
}